:root {
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
  text-align: center;
}

button {
  border-radius: 15px;
  padding: 10px;
  margin-top: 8px;
  background-color: #03a649;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  border-color: #03a649;
}

p {
  margin: 0;
  padding: 0;
}

label {
  font-weight: bold;
  margin-left: 22%;
}

ol {
  margin-left: 17%;
}

textarea {
  margin-left: 22%;
  width: 55%;
}

.display-username {
  margin-left: 20%;
}

.display {
  text-align: center;
}

.task {
  padding-bottom: 0;
  margin-bottom: 0;
}

.submit {
  text-align: center;
}

.username {
  width: 42%;
}

.user-responsible {
  width: 23%;
}

.task-input {
  width: 40%;
}

.empty-list {
  text-align: center;
}

